.progress-bar-container {
    display: flex;
    align-items: center;
  }
  
  .progress-text {
    margin-right: 10px;
  }
  
    /* Скрыть ползунок прокрутки для модального окна */
  .modal-content {
    overflow-y: hidden;
  }

  /* Опционально: скрыть ползунок прокрутки горизонтальной прокрутки (если нужно) */
  .modal-content {
    overflow-x: hidden;
  }
